<h1> Employee Show </h1>
    <p>Employee Name: <%= @employee.name %></p>
    <p>Department: <%= @employee.department.name %></p>

<h4> Tickets </h4>
    <% @employee.tickets_by_age.each do |ticket| %>
        <p><%= ticket.subject %></p>
    <% end %>

<h4> Oldest Ticket: <%= @employee.oldest_ticket %> </h4>

<%= form_with url: "/employees/#{@employee.id}", method: :patch, local: true do |f| %>
    <%= f.label :add_ticket %>
    <%= f.text_field :add_ticket %>
    <%= f.submit 'Submit' %>
<% end %>